<!DOCTYPE html>
<html lang="en" ng-app="angularToDoApp">
<head>
  <meta charset="UTF-8">
  <title>Angular App</title>
  <link rel="stylesheet" href="styles/app.css">
</head>
<body>

  <h3>Angular ToDoList App</h3>

  <div ng-controller="AppCtrl">
      <form name="item" ng-submit="addToDo()">
      <input type="text" name="newtodo" ng-model="newToDo" required />
      <button ng-disabled="item.$invalid">Click me!</button>
      </form>
      <button ng-click="clearCompleted()">Clear Completed</button>
      <ul>
          <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done" />
            <span ng-class="{'done':todo.done}">{{todo.title}}</span>
          </li>
      </ul>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script src="scripts/app.js"></script>

</body>
</html>